<section id="search">
  <h2>Search</h2>
  <form id="searchform" action="http://itat.ics.upjs.sk/" method="get">
    <fieldset>
      <p>
        <input type="hidden" name="n" value="ITAT.HomePage">
        <input type="hidden" name="action" value="search">
        <input id="s" class="searchInput" type="text" name="q" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
        <!--<input id="searchsubmit" class="button" type="submit" value="Go">-->
       <button>Submit</button>
      </p>
    </fieldset>
  </form>
</section>
<section id="navigation">
  <nav class="sideNav">
    <ul>
      <% asideMenu.forEach((item) => { %>
        <%- linkGenerator(item, page) %>
      <% }) %>
    </ul>
  </nav>
</section>