<section id="search">
  <h2>Search</h2>
  <form id="searchform" action="http://itat.ics.upjs.sk/" method="get">
    <fieldset>
      <p>
        <input type="hidden" name="n" value="ITAT.HomePage">
        <input type="hidden" name="action" value="search">
        <input id="s" class="textbox" type="text" name="q" value="">
        <!--<input id="searchsubmit" class="button" type="submit" value="Go">-->
       <button>Submit</button>
      </p>
    </fieldset>
  </form>
</section>
<section id="navigation">
  <nav class="sideNav">
    <ul>
      <% asideMenu.forEach((item) => { %>
        <%- linkGenerator(item, page) %>
      <% }) %>
    </ul>
  </nav>
</section>
<!--<section id="sponzors">
  <h2>Partner</h2>
  <a href="https://www.profinit.eu/" rel="nofollow">
    <picture class="sponzor-logo">
      <img src="images/profinit_logo.png" alt="Profinit logo" width="145" height="22">
    </picture>
  </a>
</section>-->