<nav>
  <% headerMenu.forEach((item) => { %>
    <%- linkGenerator(item, page) %>
  <% }) %>
</nav>
<picture class="site-banner">
 <!-- <img src="images/itat2019-banner.png" alt="ITAT banner" width="631" height="156">-->
</picture>
<h1>Itat 2019</h1>