<!-- <nav>
  <% headerMenu.forEach((item) => { %>
    <%- linkGenerator(item, page) %>
  <% }) %>
</nav> -->
<picture class="site-bkg">
  <img src="/images/header-photo.png" width="416px" height="201px" alt="itat banner">
</picture>