<h1>1st Data Science for Intrusion Detection and Digital Forensics (DSIDDF 2019)</h1>
<p>The workshop on Data Science for Intrusion Detection and Digital Forensics is organized as part of the ITAT 2019
  conference. The exact days during ITAT when the workshop will be held will be announced shortly. The whole ITAT takes
  place September 20 - 24, 2019.
</p>
<p>We invite original research contributions that advance the state-of-the-art as well as position papers, which pose a
  new direction or present a controversial point of view. Topics of interest include, but are not limited to:
</p>
<ul>
  <li>Artificial intelligence used in the field of safety and security
  </li>
  <li>Impact of detection and response measures on the investigation of cyber attacks
  </li>
  <li>Detection and response to cyber-physical attacks on critical infrastructure
  </li>
  <li>Cyberattack countermeasures, especially offensive responses
  </li>
  <li>Data security and privacy in critical systems
  </li>
  <li>Malware detection, modelling and analysis methods
  </li>
  <li>Situational awareness
  </li>
  <li>Machine learning for security
  </li>
</ul>
<p>To facilitate interaction among workshop participants, the paper sessions will be concluded with a panel. All session
  speakers will have about 20 minutes for their talks and questions will be asked during a session panel to open
  discussion and debate between speakers and workshop attendees. The closing remarks will also serve to summarize the
  discussions and ask feedback from audience for next workshop. To encourage further discussion and to help participants
  to make individual connections, we will have a joint workshop lunch at the conference venue and organize a joint
  dinner for workshop participants
</p>
<table class="important-dates">
  <tr>
    <th colspan='2'>Important dates</th>
  </tr>
  <tr>
    <td>Abstract submission</td>
    <td>June 20, 2019</td>
  </tr>
  <tr>
    <td>Paper submission</td>
    <td>June 20, 2019</td>
  </tr>
  <tr>
    <td>Notification of acceptance</td>
    <td>July 15, 2019</td>
  </tr>
  <tr>
    <td>Camera ready version</td>
    <td>July 30, 2019</td>
  </tr>
  <tr>
    <td>Early registration</td>
    <td>until August 1, 2019</td>
  </tr>
  <tr>
    <td>Late registration</td>
    <td>starting August 2, 2019</td>
  </tr>
</table>
<h3>Information for authors</h3>
<p>Submitted papers must be original contributions that are unpublished and are not currently under consideration for
  publication by other venues. Papers will be part of the CEUR proceedings (ceur-ws.org). Papers will undergo a blind
  peer review process, coordinated by the Scientific Committee. Papers must have 5-8 pages of two-columns A4 format,
  written in English, using LaTeX or MS Word (LaTeX is preferred). You can start with one of the following templates:
</p>
<ul>
  <li>LaTeX template: <a class='urllink' href='http://itat.ics.upjs.sk/itat2013-latex.zip'
      rel='nofollow'>http://itat.ics.upjs.sk/itat2013-latex.zip</a>
  </li>
  <li>MS Word template: <a class='urllink' href='http://itat.ics.upjs.sk/itat-word.zip'
      rel='nofollow'>http://itat.ics.upjs.sk/itat-word.zip</a>
  </li>
</ul>
<p>Note, that each accepted paper requires at least a workshop registration.
</p>
<h3>Submission</h3>
<p>Submit the paper using <a class='urllink' href='http://www.easychair.org/conferences/?conf=itat2019'
    rel='nofollow'>EasyChair</a>
</p>
<div></div>
<h3>Registration fees</h3>
<h4>Early registration</h4>
<ul>
  <li>full ITAT conference registration: 330€ (students 285€)
  </li>
  <li>for workshop only: 225€ (students 180€)
  </li>
</ul>
<div></div>
<h4>Late registration</h4>
<ul>
  <li>full ITAT conference registration: 360€ (students 305€)
  </li>
  <li>for accompanying persons: 250€ (students 200€)
  </li>
</ul>
<h3>Program committee:</h3>
<ul>
  <li>Miroslav Baca, Faculty of Organization and Informatics, University of Zagreb, Croatia
  </li>
  <li>Dejan Simic, Faculty of Organizational Sciences, University of Belgrade, Serbia
  </li>
  <li>Pavle Vuletic, School of Electrical Engineering, University of Belgrade, Serbia
  </li>
  <li>Stefano Zanero, Politecnico di Milano, Italy
  </li>
  <li>Emil Pricop, Petroleum-Gas University of Ploiesti, Romania
  </li>
</ul>
<h3>Organization commitee:</h3>
<ul>
  <li>Pavol Sokol, Pavol Jozef Safarik University, Kosice
  </li>
  <li>Imre Lendak, Eotvos Lorand University, Budapest
  </li>
  <li>Terezia Mezesova, Pavol Jozef Safarik University, Kosice
  </li>
  <li>Patrik Pekarcik, Pavol Jozef Safarik University, Kosice
  </li>
  <li>Tomas Bajtos, Pavol Jozef Safarik University, Kosice
  </li>
</ul>
<h3>Contact</h3>
<p>In case of further questions, do not hesistate to contact us at <a href="mailto://pavol.sokol@upjs.sk"
    rel='nofollow'>pavol.sokol@upjs.sk</a>.
</p>