<h1>ISAT 2019 - Intelligent speech and audio technologies workshop</h1>
<p>ISAT workshop is organized to gather together researchers working in the field of speech and audio processing from
  different application areas. It aims to encourage cooperation of different Slovak research groups working in these
  fields with their current and perspective partners. We want to discuss modern technologies and state of the art and
  how we can contribute with our research topics. We also invite PhD students with work-in-progress and industry
  partners from Slovakia with research-suggestions contributions to participate.
</p>
<p>The workshop is part of the ITAT conference, which is organized from 20th to 24th September 2019 in hotel Zornička in
  Donovaly – inside the splendid Low Tatras Slovak National Park. Our workshop will be organized between September
  20-22.
</p>
<p>Topics:
</p>
<ul>
  <li>Speech recognition,
  </li>
  <li>Speech synthesis,
  </li>
  <li>Natural language processing,
  </li>
  <li>Speech interfaces,
  </li>
  <li>Spoken and human-robot interaction,
  </li>
  <li>Linguistics,
  </li>
  <li>Anticipation in speech,
  </li>
  <li>Spoken dialogue,
  </li>
  <li>Emotion and mood analysis,
  </li>
  <li>Prosodic and phonetics,
  </li>
  <li>Human factors of HCI,
  </li>
  <li>Spoken interaction in virtual environments,
  </li>
  <li>Multilingual speech processing,
  </li>
  <li>Deep Learning in speech/audio processing,
  </li>
  <li>Multimedia Signal Processing,
  </li>
  <li>Spoken Language Understanding,
  </li>
  <li>Language identification,
  </li>
  <li>Using EEG in HCI,
  </li>
  <li>Audio processing,
  </li>
  <li>Microphone arrays,
  </li>
  <li>Beam forming,
  </li>
  <li>Audio based biometrics,
  </li>
  <li>etc.
  </li>
</ul>
<table class="important-dates">
  <tr>
    <th colspan='2'>Important dates</th>
  </tr>
  <tr>
    <td>Abstract submission</td>
    <td>June 27, 2019</td>
  </tr>
  <tr>
    <td>Paper submission</td>
    <td>July 4, 2019</td>
  </tr>
  <tr>
    <td>Notification of acceptance</td>
    <td>July 18, 2019</td>
  </tr>
  <tr>
    <td>Camera ready version</td>
    <td>July 30, 2019</td>
  </tr>
  <tr>
    <td>Early bird registration</td>
    <td>August 1st, 2019</td>
  </tr>
</table>
<p>Prospective authors are requested to prepare a 2-column paper of 4-8 pages length in English, according to the <a
    class='urllink' href='http://itat.ics.upjs.sk/itat2013-latex.zip' rel='nofollow'>LaTeX class “itatnew”</a> /<a
    class='urllink' href='http://itat.ics.upjs.sk/itat-word.zip' rel='nofollow'>Word</a> and to submit it using the <a
    class='urllink' href='https://www.easychair.org/conferences/?conf=itat2019' rel='nofollow'>EasyChair system</a>.
  Each submitted paper will be reviewed by 2 members of the technical program committee. The accepted papers will be
  published in ITAT proceedings, which will be made publicly available through the frequently accessed CEUR Workshop
  Proceedings publication service (CEUR-WS.org) which is usually indexed in Scopus. The registration fee for the ITAT
  conference covers not only participation, but also 4 nights lodging and 4 days full board at the conference hotel: 395
  € regular, 295 € for students. For only 2 nights workshop participation it is 225 € regular and 180 € student early
  registration before August 1st.
</p>
<p>To further encourage cooperation and sharing of information among speech and audio technologies researchers in
  Slovakia, we offer an opportunity for anyone to present his work, without writing a paper and the presentation will
  NOT be accompanied by an entry in the conference proceedings and the title with the abstract of the presentation will
  only be posted on the workshop website. Please send request with title and abstract by email to matus.pleva@tuke.sk
  before July 1st if you want to participate in such “Open Session”.
</p>
<h3>Technical Program committee</h3>
<ul>
  <li>Jozef Juhár (TUKE)
  </li>
  <li>Milan Rusko (SAV)
  </li>
  <li>Roman Jarina (UNIZA)
  </li>
  <li>Július Zimmermann (UPJŠ)
  </li>
  <li>Štefan Beňuš (UKF)
  </li>
  <li>Gregor Rozinaj (STU)
  </li>
  <li>Stanislav Ondáš (TUKE)
  </li>
  <li>Eva Kiktová (UPJŠ)
  </li>
  <li>Daniel Hládek (TUKE)
  </li>
  <li>Ján Staš (TUKE)
  </li>
  <li>Matúš Pleva (TUKE)
  </li>
</ul>