<h1>Slovenskočeský NLP workshop (SloNLP 2019) </h1>
<p><a href='https://ufal.mff.cuni.cz/events/slonlp-2019' rel='nofollow'>stránka workshopu</a>
</p>
<p>SloNLP je slovenskočeský workshop speciálně zaměřený na zpracování přirozeného jazyka a počítačovou lingvistiku. Jeho
  hlavním cílem je podpořit spolupráci mezi začínajícími výzkumníky v oblasti NLP v Česku a na Slovensku; k účasti proto
  vyzýváme zejména magisterské studenty a doktorandy věnující se počítačové lingvistice.
</p>
<p>Mezi témata workshopu patří automatické rozpoznávání mluvené řeči (ASR), automatická analýza a generování přirozeného
  jazyka (morfologie, syntax, sémantika...), dialogové systémy, strojový překlad (MT), vyhledávání informací (IR),
  praktické aplikace NLP technologií, a další témata počítačové lingvistiky.
</p>
<p>Uvítáme i články o probíhajícím výzkumu s předběžnými výsledky (work in progress), články popisující negativní
  výsledky (negative results) a rešeršní články.
</p>
<h3>Pozvaný prednášajúci</h3>
<ul>
  <li>Lukáš Vrábel (Babcock &amp; Bonbright): <strong>Predikcia cien nehnuteľností v Kalifornii</strong>
  </li>
</ul>