@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: auto;
  padding: inherit;
  background-color:#F4F4F4;
  font-family: 'Lato', sans-serif;
}

a {
  color: #53B758;
  text-decoration:none;
}

a:hover {
  color:#3C853F;
  text-decoration:underline;
  font-weight:bold;
}

.navBar {
  width:100%;
  position:sticky;
  background-color:#252832;
  grid-area:navBar;
  display:grid;
  grid-template-columns:1fr  minmax(auto, 700px)  minmax(auto, 300px) 1fr  ;
  grid-template-rows:auto;
  grid-template-areas:
  ". nav nav .";
  position:sticky;
  top:0;
}

 .upNav {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  background-color:#252832;
  grid-area: nav;
  width:100%;
}

.upNav li {
  list-style-type:none;
}

.upNav li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  position: relative;
}

.upNav li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  top:0;
  position: absolute;
  background: #53B758;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.upNav li a:hover:after { 
  width: 100%; 
  left: 0; 
  top:0;
}


.upNav li a{
  color:white;
  text-decoration: none; /* no underline */
  font-weight:initial;
  display:block;
  width:100px;
  height:60px;
  text-align:center;
  line-height:60px;
}

header {
  background-color:#59C260;
  height:200px;
  grid-area: header;
}

header h1 {
  display:none;
}

.site-bkg-small{
  display:none;
}

main {
  background-color: white;
  height: auto;
  min-height:800px;
  grid-area:main;
  padding-left:25px;
  padding-right:35px;
  padding-bottom:30px;
  font-size:1.15rem;
}

main table, td, th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

main table{
  border-collapse: collapse;
}


main p {
  text-align: left;
}
main article {
  padding: 1%;
}

main table tbody a {
  font-weight:initial;
  text-decoration:none;
}

main table tbody a:hover {
  color:#3C853F;
  text-decoration:underline;
  font-weight:bold;
}

main table tbody th,main table tbody td {
  padding:8px;
}

main table tbody tr:nth-child(odd) {
background-color:rgba(38,41,51, 0.1);
}

main article .lfloat {
  float:left;
  padding-right:17px;
}

main article .rfloat {
  float:left;
  padding-right:17px;
}


aside#sidebar {
  background-color:white;
  grid-area:aside;
}
aside#sidebar h2 {
  color: #252832;
  margin: 0;
  padding-top: 5%;
  margin-left:12%;
}

aside#sidebar #search #searchform fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

aside#sidebar #search #searchform fieldset p {

display:flex;
flex-direction: column;
justify-content:center;
align-items:center;

}

aside#sidebar #searchform fieldset button {
	color: inherit;
	border: none;
	font: inherit;
  outline: inherit;
  background: #53B758;
  padding: 10px;
  border-radius:5px;
  color:white;
  font-weight:400;
  display:block;
  cursor: pointer;
  margin-top:15px;
  width:75%;
}

aside#sidebar #searchform fieldset button:hover {
background-color:#3C853F;
}

aside#sidebar #searchform fieldset .searchInput {

width:75%;
padding:7px;
display:inline-block;
border:1px solid #ccc;
border-radius:4px;
box-sizing: border-box;

}


aside#sidebar #searchform fieldset .searchInput:focus {
  outline: none !important;
  border:1px solid #53B758;
  box-shadow: 0 0 2px #719ECE;
}

footer {
  text-align: center;
  background-color:#16181E;
  grid-area:footer;
  height:250px;
}
footer p {
  padding-top: 0.5%;
  color:white;
}
footer p > a {
  color: #53B758;
  font-weight:initial;
}

header .header-foto{
position:absolute;
top:2;
}

footer h2 {
  color:white;
}

#sponzors {
  width:100%;

  height:50px;
  /*transform: rotate(180deg);
  transform: scaleX(100);
  transform: scaleY(20);
  transform: skewY(30deg);*/
}

aside #navigation nav ul{
margin:auto;
padding:0;
list-style-type: none;
display:flex;
flex-direction:column;
list-style-position: inside;
}

aside #navigation nav ul li {

list-style-type:none;
display:block;
padding: 12px 20px;
background:#252832;

}

aside #navigation nav ul li a {
  text-decoration:none;
  color:white;
  font-weight:initial;
}

aside #navigation nav ul li:hover {
  background:#6B7080;
}

main #workshop-ul {
  display:flex;
  list-style-type:none;
  flex-wrap:wrap;
}

main #workshop-ul li {
  background-color:#53B758;
  /*flex-basis: 100px;*/
  height:150px;
  width:150px;
  margin:5px;
  padding:15px;
  cursor:pointer;
}

main #workshop-ul li:hover {
  background:#3C853F;
}

main #workshop-ul li a{
  text-decoration:none;
  color:white;
  width: 120px;
  height: 120px;
  margin: 0 auto;      
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:initial;
}

body {
  display:grid;
  grid-template-columns:1fr  minmax(auto, 700px)  minmax(auto, 300px) 1fr  ;
  grid-template-rows:auto;
  grid-template-areas:
  "navBar navBar navBar navBar"
  " . header header ."
  " . main aside . "
  " footer footer footer footer ";  
}

@media print {
  header {
    display:none;
  }

  aside{
    display:none;
  }

}

  @media (max-width:1000px){
    body{ 
      /*width:100%;*/
      display:grid;
      grid-template-columns:75% 25%;
      grid-template-areas:
      "navBar navBar"
      "header header"
      "main aside"
      "footer footer";
    }
  }

  @media (max-width:830px){
    header {
      height:100px;
    }

    .site-bkg{
      display:none;
    }

    .site-bkg-small{
      display:block;
    }
  }

  @media (max-width:735px){

    body{
      width:100%;
      display:grid;
      grid-template-columns:1fr 3fr ;
      grid-template-areas:
      "navBar navBar"
      "header header"
      "aside aside"
      "main main"
      "footer footer";
    }

    main table.table-previous th:first-child, main table.table-previous td:first-child{
      display: none;
    }
 
}
