<h1>Výbory konferencie ITAT</h1>
<article>
  <h2>Riadiaci výbor</h2>
  <ul>
    <li>Peter Gurský, Univerzita P. J. Šafárika v Košiciach
    </li>
    <li>Martin Holeňa, Akademie věd České republiky
    </li>
    <li>Tomáš Horváth, ELTE University v Budapešti
    </li>
    <li>Markéta Lopatková, Univerzita Karlova v Praze
    </li>
    <li>Tomáš Vinař, Univerzita Komenského, Bratislava
    </li>
  </ul>
</article>
<article>
  <h2>Organizačný výbor</h2>
  <ul>
    <li>Ľubomír Antoni, Univerzita P. J. Šafárika v Košiciach
    </li>
    <li>Peter Gurský, Univerzita P. J. Šafárika v Košiciach (predseda)
    </li>
    <li>Alexander Szabari, Univerzita P. J. Šafárika v Košiciach
    </li>
  </ul>
</article>