<h1>Registračné poplatky</h1>
<article>
  <h2>Skorá registrácia - do 1. 8. 2019</h2>
  <p>Konferenčný poplatok zaplatený prevodom na účet do 30.8.2019
  </p>
  <section>
    <h3>Variant A (4 noci, začínajúc večerou 20.9. a končiac raňajkami 24.9.)</h3>
    <ul>
      <li>Plná registrácia: 330 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia
        na
        celú dĺžku konferencie)
      </li>
      <li>Študenti: 285 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia na celú
        dĺžku konferencie)
      </li>
      <li><span style='color: red;'>Študenti prezentujúci článok: 215 € (konferencia + workshopy + el. zborník + kávové
          prestávky + ubytovanie a plná penzia na celú dĺžku konferencie)</span>
      </li>
    </ul>
  </section>
  <section>
    <h3>Variant B pre workshopy (2 noci - od večere do raňajok)</h3>
    <ul>
      <li>Plná registrácia: 225 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia
        na
        2 noci)
      </li>
      <li>Študenti: 180 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia na 2
        noci)
      </li>
      <li><span style='color: red;'>Študenti prezentujúci článok: 110 € (konferencia + workshopy + el. zborník + kávové
          prestávky + ubytovanie a plná penzia na 2 noci) </span>
      </li>
    </ul>
  </section>
</article>
<article>
  <h2>Neskorá registrácia - od 2. 8. 2019</h2>
  <p>Konferenčný poplatok zaplatený prevodom na účet do 13.9.2019 alebo v hotovosti na mieste konania konferencie je
    stanovený nasledovne:
  </p>
  <section>
    <h3>Variant A (4 noci, začínajúc večerou 20.9. a končiac raňajkami 24.9.)</h3>
    <ul>
      <li>Plná registrácia: 360 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia
        na
        celú dĺžku konferencie)
      </li>
      <li>Študenti: 305 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia na celú
        dĺžku konferencie)
      </li>
    </ul>
  </section>
  <section>
    <h3>Variant B pre workshopy (2 noci - od večere do raňajok)</h3>
    <ul>
      <li>Plná registrácia: 250 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia
        na
        2 noci )
      </li>
      <li>Študenti: 200 € (konferencia + workshopy + el. zborník + kávové prestávky + ubytovanie a plná penzia na 2
        noci)
      </li>
    </ul>
  </section>
</article>
<article>
  <h2>Príplatky</h2>
  <ul>
    <li>1 posteľová izba + 70 € (POZOR! obmedzený počet, umožnené iba pre plnú registráciu)
    </li>
    <li>Doprovod (ubytovanie, kávové prestávky a plná penzia)
      <ul>
        <li>na 1 noc [+ 50 €] (plná penzia)
        </li>
        <li>na 2-3 noci [+ 45 €/noc] (plná penzia)
        </li>
        <li>Banket + 15 € - ak doprovod je v penzióne z nedele na pondelok
        </li>
        <li>na 4 noci [195 €] (celá konferencia s banketom)
        </li>
      </ul>
    </li>
  </ul>
</article>