<h1>O konferencii ITAT</h1>
<p>19. ročník konferencie ITAT sa bude konať v penzióne <a href="http://penzionzornicka.sk/" rel="nofollow">Zornička</a>
  v dňoch 20.-24. septembra 2019.
</p>
<p><span class="important-message"> Vďaka sponzorskému daru firmy Profinit, s.r.o. poskytneme zľavu z
    registračného poplatku 70 Eur študentom a doktorandom. Podmienkou je, aby študent bol spoluautor článku,
    ktorý na konferencii aj odprezentuje. </span>
</p>
<p>Konferencia ITAT je platformou, ktorá zastrešuje workshopy prevažne pre prezentáciu výsledkov mladých
  vedeckých pracovníkov a doktorandov v
  oblasti informatiky. Konferencia poskytuje priestor na výmenu
  informácií v komunite, ako aj neformálne stretnutia účastníkov v
  horskom prostredí. Rokovacie jazyky workshopov si určujú ich organizátori.
</p>
<article>
  <h2>Organizátori</h2>
  <p>Konferenciu organizujú:
  </p>
  <ul>
    <li><a href="http://ics.upjs.sk/" rel="nofollow">Ústav informatiky</a>, Prírodovedecká
      fakulta
      Univerzity Pavla Jozefa Šafárika, Košice
    </li>
    <li><a href="http://www.cs.cas.cz/" rel="nofollow">Ústav informatiky</a> Akademie věd České
      republiky, Praha
    </li>
    <li><a href="http://www.mff.cuni.cz/" rel="nofollow">Matematicko-fyzikální fakulta</a>,
      Univerzita Karlova, Praha
    </li>
    <li><a href="http://www.sais.sk/" rel="nofollow">Slovenská spoločnosť pre umelú
        inteligenciu</a>
    </li>
  </ul>
</article>