<h1>Pozvaní prednášajúci</h1>
<article>
  <h2> Johannes Lengler, ETH Zürich: <strong>Optimization is Hard, but Hillclimbing is Easy --- Right?</strong></h2>
  <picture class='lfloat'><img width='150px' src='http://itat.ics.upjs.sk/uploads/lenger.png' alt='Johannes Lengler'>
  </picture>
  <p>Hillclimbing is an integral part of every optimization algorithm. One would expect that our standard
    hillclimbing
    algorithms can solve nice, unimodal functions efficiently. For example, strictly monotone
    functions: consider the search space S={0,1}^n of n-bit strings; then a strictly monotone function f: S -&gt; R
    is
    a function that satisfies f(x) &lt;
    f(y) for all different strings x,y in S such that x_i &lt;= y_i holds for all 1 &lt;= i &lt;= n. Strictly
    montone
    functions are the easiest imaginable testbed for hillclimbers: The function f always prefers one-bits over
    zero-bits, so there are always short and clearly labelled paths from any start point to the unique global
    optimum
    11..1.
    Surprisingly, it has become clear in the last years that many of our standard hillclimbers fail miserably on
    some
    strictly monotone functions. In many instances, they need exponential time to find the optimum. This devastating
    result has deepened our understanding of hillclimbing techniques, and has given new insights into the mechanisms
    that are behind some hillclimbing techniques, like selective pressure, step size policies, and population
    effects.
    These insights have also improved our understanding of optimization beyond hillclimbing, in particular of
    optimization in dynamic environments.
  </p>
  <p class='cv'>Dr. Johannes Lengler has an unusually broad research spectrum, reaching from pure
    mathematics
    to neuroscience. He studied mathematics at Saarland (Germany) and Warwick University (UK) and received his PhD
    in algebraic number theory at Saarland University in 2010. Afterwards, he joined ETH Zürich (Switzerland) as a
    postdoc, by now as senior scientist, and simultaneously entered the fields of computer science and of
    neuroscience. Within computer science, his main research areas include nature-inspired optimization
    algorithms,
    random graph models for large real-world networks, and stochastic processes in graphs and networks. Within
    neuroscience, his focus lies on neuroplasticity, memory, and rapid learning. Other publications of Lengler are
    concerned with efficient communication protocols, the power of decision-makers with limited choices,
    computational geometry, and quantum computing.</em>
  </p>
</article>
<article>
  <h2> Lukáš Vrábel (Babcock &amp; Bonbright): <strong>Predikcia cien nehnuteľností v Kalifornii</strong></h2>
  <picture class='rfloat'><img width='150px' src='http://itat.ics.upjs.sk/uploads/vrabel.jpg' alt='Lukáš Vrábel'>
  </picture>
  <p>Prednáška predstaví našu snahu za posledný rok a pol o rozbehnutie startupu na oceňovanie nehnuteľností v USA.
    Startup s názvom Babcock &amp; Bonbright bol budovaný v rámci portfolia Central Europe AI - startupového štúdia
    zameraného na využitie umelej inteligencie na inováciu vo finančnej oblasti a zdravotníctve.
  </p>
  <p>Prezentácia bude zameraná hlavne na technologický aspekt projektu - spojenie štrukturovaných
    dát,
    NLP, a spracovania obrazu do komplexného systému na odhad hodnoty obytných domov a bytov pomocou strojového
    učenia. Pozornosť bude venovaná aj spracovaniu mapových dát, architektúry systému a návrhu datových pipeline.
  </p>
  <p class='cv'>Lukáš Vrábel vyštudoval Obor "Umelá Inteligencia" na Fakulte Informačných technologií VUT
    Brno, kde následne pracoval ako výskumník v oblasti formálnych jazykov a gramatík. Okrem akademických
    skúseností
    načerpal prax aj z komerčnej sféry - vo firme Seznam.cz, kde pôsobil na rôznych pozíciách od výskumníka až po
    vedúceho oddelenia výskumu, sa vrátil k umelej inteligencii a strojovému učeniu. Do startupovej scény vstúpil
    pri zakladaní Brnenskej pobočky pre americko-európske startup studio Central Europe AI, kde zároveň pracoval
    na
    aplikovaní strojového učenia na odhad hodnoty nemovitostí. Aktuálne pracuje ako konzultant na volnej nohe,
    pomáha rôznym firmám vypracovávať data-science projekty a rozvíjať datovo-výzkumné týmy.</em>
  </p>
</article>
<article>
  <h2>Štefan Beňuš (UKF v Nitre &amp; UI SAV, Bratislava): <strong>Word guessing game with a social robotic
      head</strong></h2>
  <picture class='lfloat'><img width='150px' src='http://itat.ics.upjs.sk/uploads/benus.jpg' alt='Štefan Beňuš'>
  </picture>
  <p>The talk will describe our efforts in human-machine spoken interaction in Slovak. We focus on studying how
    prosodic entrainment (becoming similar in the prosodic aspects of speaking) affects the interaction between the
    human and the machine. Early efforts used static avatars in a simple card game scenario, which was later
    implemented with Nao robots, and another richer scenario of one-person adventure game was designed. After a
    brief
    review of these early efforts, the focus of the talk will be on a newly designed word-guessing game in which
    subjects provide verbal cues for a target animal and social robotic head Furhat guesses the animal. The robotic
    head will be introduced. Then we describe the implementation and initial observations from the design,
    deployment,
    and user evaluation in an open-air science festival with over 60 subjects playing the game.
  </p>
  <p class='cv'>Stefan Beňuš is a senior researcher and associate professor in Linguistics and Speech
    Sciences
    (PhD, NYU 2005, post-docs at Columbia University and LMU Munich). His research focuses on the relationship
    between speech prosody and pragmatic/discourse aspect of the message as well as the prosodic entrainment in
    both
    human-human and human-machine spoken interactions. Additionally, he studies the relationship between phonetics
    and phonology with a special interest in the articulatory characteristics of speech.
  </p>
</article>