<h1>Minulé ročníky </h1>
<table>
  <tr>
    <th>Poradie</th>
    <th>Rok</th>
    <th>Miesto konania</th>
    <th>Zborník</th>
  </tr>
  <tr>
    <td>18</td>
    <td><a href='http://itat.ics.upjs.sk/2018/' rel='nofollow'>2018</a></td>
    <td>Hotel Plejsy***</td>
    <td>Zborník (<a href='http://itat.ics.upjs.sk/2018/uploads/ITAT-2018.pdf' rel='nofollow'>PDF</a>, <a
        href='http://ceur-ws.org/Vol-2203/' rel='nofollow'>CEUR</a>)</td>
  </tr>
  <tr>
    <td>17</td>
    <td><a href='http://itat.ics.upjs.sk/2017/pmwiki.php' rel='nofollow'>2017</a></td>
    <td>Hotel Martinské hole***</td>
    <td>Zborník (<a href='http://itat.ics.upjs.sk/2017/uploads/ITAT_2017.pdf' rel='nofollow'>PDF</a>, <a
        href='http://ceur-ws.org/Vol-1885/' rel='nofollow'>CEUR</a>, <a
        href='https://www.amazon.de/ITAT-2017-Information-Technologies-Applications/dp/1974274748/'
        rel='nofollow'>AMAZON</a>)</td>
  </tr>
  <tr>
    <td>16</td>
    <td><a href='http://itat.ics.upjs.sk/2016/pmwiki.php' rel='nofollow'>2016</a></td>
    <td>Hotel Sorea Hutník I., Tatranské Matliare</td>
    <td>Zborník (<a href='http://itat.ics.upjs.sk/2016/uploads/ITAT_2016.pdf' rel='nofollow'>PDF</a>, <a
        href='http://ceur-ws.org/Vol-1649/' rel='nofollow'>CEUR</a>, <a
        href='https://www.amazon.de/ITAT-2016-Information-Technologies-Applications/dp/1537016741/'
        rel='nofollow'>AMAZON</a>)</td>
  </tr>
  <tr>
    <td>15</td>
    <td><a href='http://itat.ics.upjs.sk/2015/pmwiki.php' rel='nofollow'>2015</a></td>
    <td>Hotel Čingov, Slovenský raj</td>
    <td>Zborník (<a href='http://itat.ics.upjs.sk/2015/uploads/ITAT_2015.pdf' rel='nofollow'>PDF</a>, <a
        href='http://ceur-ws.org/Vol-1422/' rel='nofollow'>CEUR</a>, <a
        href='http://www.amazon.de/gp/product/1515120651?keywords=itat%202015&amp;qid=1440668875&amp;ref_=sr_1_1&amp;sr=8-1'
        rel='nofollow'>AMAZON</a>)</td>
  </tr>
  <tr>
    <td>14</td>
    <td><a href='http://itat.ics.upjs.sk/2014/pmwiki.php' rel='nofollow'>2014</a></td>
    <td>Hotel Junior Jasná, Demänovská dolina</td>
    <td>Zborník (<a href='http://artax.karlin.mff.cuni.cz/~bajel3am/itat2014' rel='nofollow'>WWW</a>, <a
        href='http://itat.ics.upjs.sk/2014/main_track.pdf' rel='nofollow'>PDF</a>, <a
        href='http://ceur-ws.org/Vol-1214/' rel='nofollow'>CEUR</a>, <a
        href='http://www.amazon.de/ITAT-2014-Information-Technologies-Applications/dp/8087136187/ref=sr_1_1?ie=UTF8&amp;qid=1411503582&amp;sr=8-1&amp;keywords=itat+2014'
        rel='nofollow'>AMAZON</a>) Zborník WS (<a href='http://artax.karlin.mff.cuni.cz/~bajel3am/itat2014'
        rel='nofollow'>WWW</a>, <a href='http://itat.ics.upjs.sk/2014/workshops.pdf' rel='nofollow'>PDF</a>, <a
        href='http://www.amazon.de/ITAT-2014-Information-Technologies-Applications/dp/8087136195/ref=sr_1_2?ie=UTF8&amp;qid=1411503582&amp;sr=8-2&amp;keywords=itat+2014'
        rel='nofollow'>AMAZON</a>)</td>
  </tr>
  <tr>
    <td>13</td>
    <td><a href='http://itat.ics.upjs.sk/2013/pmwiki.php' rel='nofollow'>2013</a></td>
    <td>Hotel Zornička, Donovaly</td>
    <td><a href='http://itat.ics.upjs.sk/2013/proceedings/itat2013_proceedings.pdf' rel='nofollow'>Zborník</a> (<a
        href='http://ceur-ws.org/Vol-1003/' rel='nofollow'>web CEUR</a>, <a
        href='http://www.amazon.de/ITAT-2013-Information-Technologies-Applications/dp/1490952004'
        rel='nofollow'>amazon.de</a>), <a href='http://itat.ics.upjs.sk/2013/proceedings/itat2013_workshops.pdf'
        rel='nofollow'>Zborník workshopy</a> (<a
        href='http://www.amazon.de/ITAT-2013-Information-Technologies-Applications/dp/149095208X'
        rel='nofollow'>amazon.de</a>)</td>
  </tr>
  <tr>
    <td>12</td>
    <td><a href='http://itat.ics.upjs.sk/2012/pmwiki.php' rel='nofollow'>2012</a></td>
    <td>Hotel Magura, Monková dolina, Belianske Tatry</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2012-ceur-proceedings.pdf' rel='nofollow'>Zborník CEUR</a> (<a
        href='http://ceur-ws.org/Vol-990/' rel='nofollow'>web CEUR</a>), <a
        href='http://itat.ics.upjs.sk/proceedings/ITAT2012%20-%20Zbornik%20prispevkov%20-%20tlacova%20verzia.pdf'
        rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>11</td>
    <td><a href='http://itat.ics.upjs.sk/2011/' rel='nofollow'>2011</a></td>
    <td>Hotel Boboty, Vrátna dolina, Malá Fatra</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2011-ceur-proceedings.pdf' rel='nofollow'>Zborník CEUR</a> (<a
        href='http://ceur-ws.org/Vol-788/' rel='nofollow'>web CEUR</a>), <a
        href='http://itat.ics.upjs.sk/proceedings/itat2011-zbornik.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>10</td>
    <td><a href='http://itat.ics.upjs.sk/2010/' rel='nofollow'>2010</a></td>
    <td>Horský hotel Smrekovica, Veľká Fatra</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2010-ceur-proceedings.pdf' rel='nofollow'>Zborník CEUR</a> (<a
        href='http://ceur-ws.org/Vol-683/' rel='nofollow'>web CEUR</a>), <a
        href='http://itat.ics.upjs.sk/proceedings/itat2010-zbornik.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>9</td>
    <td><a href='http://itat.ics.upjs.sk/2009/' rel='nofollow'>2009</a></td>
    <td>Horský hotel Kráľova studňa, Veľká Fatra</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2009-ceur-proceedings.pdf' rel='nofollow'>Zborník CEUR</a> (<a
        href='http://ceur-ws.org/Vol-584/' rel='nofollow'>web CEUR</a>), <a
        href='http://itat.ics.upjs.sk/proceedings/itat2009-zbornik.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>8</td>
    <td><a href='http://itat.ics.upjs.sk/2008/' rel='nofollow'>2008</a></td>
    <td>Horský hotel Hrebienok, Vysoké Tatry</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2008-ceur-proceedings.pdf' rel='nofollow'>Zborník CEUR</a> (<a
        href='http://ceur-ws.org/Vol-414/' rel='nofollow'>web CEUR</a>), <a
        href='http://itat.ics.upjs.sk/proceedings/itat2008-zbornik.pdf' rel='nofollow'>Zborník workshopu</a>,</td>
  </tr>
  <tr>
    <td>7</td>
    <td><a href='http://itat.ics.upjs.sk/2007/index.php' rel='nofollow'>2007</a></td>
    <td>Horský hotel Poľana, Poľana</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2007-proceedings.pdf' rel='nofollow'>Zborník</a>, <a
        href='http://itat.ics.upjs.sk/proceedings/itat2007-zbornik.pdf' rel='nofollow'>Zborník workshopu</a></td>
  </tr>
  <tr>
    <td>6</td>
    <td><a href='http://itat.ics.upjs.sk/2006/' rel='nofollow'>2006</a></td>
    <td>Kosodrevina, Nízke Tatry</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2006-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td><a href='http://itat.ics.upjs.sk/2005/' rel='nofollow'>2005</a></td>
    <td>Račkova dolina</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2005-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td><a href='http://itat.ics.upjs.sk/2004/' rel='nofollow'>2004</a></td>
    <td>Popradské pleso, Vysoké Tatry</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2004-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='http://itat.ics.upjs.sk/2003/' rel='nofollow'>2003</a></td>
    <td>Sliezsky dom, Vysoké Tatry</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2003-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='http://itat.ics.upjs.sk/2002/' rel='nofollow'>2002</a></td>
    <td>Malinô Brdo</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2002-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href='http://itat.ics.upjs.sk/2001/' rel='nofollow'>2001</a></td>
    <td>Zuberec</td>
    <td><a href='http://itat.ics.upjs.sk/proceedings/itat2001-proceedings.pdf' rel='nofollow'>Zborník</a></td>
  </tr>
</table>