<h1>Program</h1>
<article>
  <h2>Friday 20.9.2019</h2>
  <section class="workshop-program">
    <ul>
      <li>20:00-21:00 Streering committee meeting
      </li>
    </ul>
  </section>
</article>
<article>
  <h2>Saturday 21.9.2019</h2>
  <section class="workshop-program">
    <h3>ISAT</h3>
    <ul>
      <li>9:15-9:20 workshop opening
      </li>
      <li>9:20-9:40 Ondrej Šuch, Santiago Barreda and Anton Mojsej: A comparison of formant and CNN models for vowel
        frame
        recognition
      </li>
      <li>9:40-10:00 Maros Jakubec, Eva Lieskovska, Roman Jarina, Michal Chmulik and Michal Kuba: Development of
        baseline
        system for phonemes recognition task
      </li>
      <li>10:00-10:20 Stanislav Ondas and Matus Pleva: Anticipation and its applications in human-machine interaction
      </li>
      <li>10:20-10:40 Milan Rusko, Sachia Darjaa, Trnka Marián and Ladislav Schichman: Acoustic output of the railway
        information systems for visually impaired passangers
      </li>
      <li class="break">10:40-11:10 coffee break
      </li>
      <li>11:10-11:30 Peter Kleman and Štefan Beňuš: Correlation of perceived fluency with phonetic measures of speech
        rate and pausing
      </li>
      <li>11:30-11:50 Eva Kiktová, Július Zimmermann and Mária Paľová: Towards to the Anticipation in Simultaneous
        Interpreting.
      </li>
      <li>11:50-12:10 Matus Pleva, Yuan-Fu Liao, Daniel Hladek, Ján Staš, Martin Lojka, Jozef Juhar and Stanislav Ondas.
        Automatic recognition of Slovak-English bilingual speech
      </li>
      <li>12:10-12:30 Marianna Kocturova and Jozef Juhár: Comparison of dry electrodes for mobile EEG system
      </li>
    </ul>
  </section>
  <section class="meal">12:30 lunch</section>
  <section class="workshop-program">
    <h3>SloNLP</h3>
    <ul>
      <li>16:00-16:15 Zahájení SloNLP, poster boaster session
      </li>
      <li>16:15-18:00 poster session
        <ul>
          <li>presented posters
            <ul>
              <li>Martin Platek, František Mráz and Dana Pardubska: Lexically Syntactic Characterization by Restarting
                Automata
              </li>
              <li>Anna Nedoluzhko and Ondrej Bojar: Towards Automatic Minuting of the Meetings
              </li>
              <li>Jaroslava Hlavacova: Aggregates and Variants in two Czech Morphological Approaches
              </li>
              <li>Petra Barančíková and Ondrej Bojar: In Search for Linear Relations in Sentence Embedding Spaces
              </li>
              <li>Karolína Hořeňovská: Extending Czech thesauri using word-formation network
              </li>
            </ul>
          </li>
          <li>open session
            <ul>
              <li>Rudolf Rosa: Automatic Generation of Theatre Play Scripts
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="meal">18:00 dinner</section>
  <section class="workshop-program">
    <h3>ISAT</h3>
    <ul>
      <li>19:10-19:55 Štefan Beňuš: Word guessing game with a social robotic head (invited talk)
      </li>
    </ul>
  </section>
  <section class="workshop-program">
    <h3>SloNLP</h3>
    <ul>
      <li>20:00-21:00 Lukáš Vrábel: Predikcia cien nehnuteľností v Kaliforni (invited talk)
      </li>
    </ul>
  </section>
</article>
<article>
  <h2>Sunday 22.9.2019</h2>
  <section class="workshop-program">
    <h3>WCIDM</h3>
    <ul>
      <li>9:00-10:00 Johannes Lengler, ETH Zürich: Optimization is Hard, but Hillclimbing is Easy --- Right? (invited
        talk)
      </li>
      <li class="break">10:00-10:15 coffee break</li>
      <li>10:15-10:45 Tomáš Kliegr: Tuning Hyperparameters of Classification Based on Associations (CBA)
      </li>
      <li>10:45-11:15 Markus Thill: Anomaly Detection in Electrocardiogram Readings with Stacked LSTM Networks
      </li>
      <li>11:15-11:45 Matěj Fanta: Rules Extraction from Neural Networks Trained on Multimedia Data
      </li>
      <li>11:45-12:15 Imre Lendák: Efficient Load Profiling and Forecasting in Large Electric Power Systems
      </li>
    </ul>
  </section>
  <section class="meal">12:15 lunch</section>
  <section class="meal">19:00 banquet</section>
</article>
<article>
  <h2>Monday 23.9.2019</h2>
  <section class="workshop-program">
    <h3>WCIDM</h3>
    <ul>
      <li>9:00- 9:30 Ľubomír Antoni: Case Studies and Education in Data Science At Universities in Slovaki
      </li>
      <li>9:30-10:00 Jan Žegklitz: Sequential Model Building in Symbolic Regression
      </li>
      <li>10:00-10:30 Vukasin Felbab: Optimization in Federated Learning
      </li>
      <li>10:30-11:00 Ondrej Šuch:Neural pairwise classification models created by ignoring irrelevant alternatives.
      </li>
      <li class="break">11:00-11:15 coffee break</li>
      <li>11:15-11:45 Gábor Szegedi: Evolutionary federated learning on EEG-data
      </li>
      <li>11:45-12:15 Jan Motl: Learning on a Stream of Features with Random Forest
      </li>
      <li>12:15-12:45 Zakarya Farou: The Warping Window Size Effects the Accuracy of Person Identification based on
        Keystroke Dynamics
      </li>
    </ul>
  </section>
  <section class="meal">12:45 lunch</section>
  <section class="meal">18:00-19:00 dinner</section>
  <section class="workshop-program">
    <h3>WCIDM</h3>
    <ul>
      <li>19:00-19:30 Jiří Tumpach: Deep Networks in Online Malware Detection
      </li>
      <li>19:30-20:00 Dániel Várkonyi: Extreme Learning Machines with Regularization for the Classification of Gene
        Expression Data
      </li>
      <li>20:00-20:30 <strong>panel</strong>
        <ul>
          <li>New Paradigms in Machine Learning, Computational Intelligence and Data Mining (panelists Martin Holeňa,
            Tomáš Kliegr and Johannes Lengler)
          </li>
        </ul>
      </li>
    </ul>
  </section>
</article>