<h1>Ubytovanie a doprava</h1>
<article>
  <h2>Organizátori</h2>
  <p>Konferencia sa bude konať v penzióne Zornička na Donovaloch. Pre viac informácií o hoteli naštívte <a
      class='urllink' href='http://penzionzornicka.sk/' rel='nofollow'>stránku penzióna Zornička</a> .
  </p>
</article>
<article>
  <h2>Doprava</h2>
  <p>Do hotela Zornička sa môžete dostať nasledujúcimi spôsobmi:
  </p>
  <ul>
    <li>Autobusom: Ružomberok - Donovaly, zastávka "Donovaly,,Pod Magurou-ATC" (hneď pred hotelom) a odtiaľ pešo k
      hotelu asi 2-3 minútky
    </li>
    <li>Autom: pred hotelom je bezplatné parkovisko
    </li>
    <li>GPS: N 48.8777, E 19.237 </li>
  </ul>
</article>
<article>
  <h2>Mapa okolia hotela</h2>
  <p><iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2623.977786985339!2d19.2348113!3d48.8777!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDUyJzM5LjciTiAxOcKwMTQnMTMuMiJF!5e0!3m2!1ssk!2ssk!4v1544240902623"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>
</article>