<h1>Workshopy ITAT 2019</h1>
<ul id="workshop-ul">
  <li><a href='ws/CIDM'>Computational Intelligence and Data Mining - 7th international workshop</a></li>
  <li><a href='ws/SloNLP'>Slovenskočeský NLP Workshop (SloNLP 2019)</a></li>
  <li><a href='ws/ISAT'>Intelligent speech and audio technologies workshop (ISAT 2019)</a></li>
  <li><a href='ws/DSIDDF'>Intrusion Detection and Digital Forensics (DSIDDF 2019)</a></li>
</ul>