<h1>Workshopy ITAT 2019</h1>
<ul id="workshop-ul">
  <li><a href='/CIDM'>Computational Intelligence and Data Mining - 7th international workshop</a></li>
  <li><a href='/SloNLP'>Slovenskočeský NLP Workshop (SloNLP 2019)</a></li>
  <li><a href='/ISAT'>Intelligent speech and audio technologies workshop (ISAT 2019)</a></li>
  <li><a href='/DSIDDF'>Intrusion Detection and Digital Forensics (DSIDDF 2019)</a></li>
</ul>