<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>O konferencii ITAT</title>
<link rel="stylesheet" href="./style404.css">
<meta name="robots" content="index,follow">
</head>

<body>
    <section class="image-wrap">
      <picture>
          <img src="images/404.png" alt="Profinit logo" width="700px" height="488px">
      </picture>
      <a href="home"><button>Back to homepage</button></a>
    </section>
</body>

</html>